<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>715384774229-e4ef31kd38bjfpo5h7dno0lei4fc8bcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715384774229-e4ef31kd38bjfpo5h7dno0lei4fc8bcc</string>
	<key>API_KEY</key>
	<string>AIzaSyBvK9USljdnEagAcAqKiEw6-mR76TvFIk0</string>
	<key>GCM_SENDER_ID</key>
	<string>715384774229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gmail-login</string>
	<key>PROJECT_ID</key>
	<string>gmail-login-7ec46</string>
	<key>STORAGE_BUCKET</key>
	<string>gmail-login-7ec46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:715384774229:ios:b111067a6d8d151f</string>
	<key>DATABASE_URL</key>
	<string>https://gmail-login-7ec46.firebaseio.com</string>
</dict>
</plist>
