<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>875959526539-ebu0fguvajritj2tnpel49db7qr9psha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875959526539-ebu0fguvajritj2tnpel49db7qr9psha</string>
	<key>API_KEY</key>
	<string>AIzaSyAe43Dvs721KYw2-t4A6Hq-erzy3y5EObQ</string>
	<key>GCM_SENDER_ID</key>
	<string>875959526539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hasebe.YoutubeFacebookLogin</string>
	<key>PROJECT_ID</key>
	<string>ytfblogin</string>
	<key>STORAGE_BUCKET</key>
	<string>ytfblogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:875959526539:ios:5e978ad27b74f465</string>
	<key>DATABASE_URL</key>
	<string>https://ytfblogin.firebaseio.com</string>
</dict>
</plist>
